.highlight {
	background-color: yellow;

}
#draggable {
	width: 150px;
	height: 150px;
	padding: 0.5em;
	background-color: pink;
	border: 10px;
}
.class-combo-demo {
	width: 150px;
	height: 150px;
	padding: 0.5em;
	background-color: yellow;
	border: 10px;
}